<header class="navbar">

    <div class="container nav-wrapper">

        <div class="logo">
            <img src="assets/logo-m.svg" alt="Mangalam Pipes Logo">
        </div>

        <!-- Mobile menu button -->
        <div class="menu-toggle" id="menuToggle">
            ☰
        </div>

        <nav class="section-right" id="navMenu">

            <a href="#">About Us</a>

            <a href="#">Products</a>

            <button class="button-styles">Contact Us</button>

        </nav>

    </div>

</header>